/* #182747 */
/* #647E68 navbar*/
/* #D8D8D8 BG */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #D8D8D8;
}

/* nav  */
.navbar{
    background:#647E68 ;
    width: 100%;
    /* position: fixed; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-list-menu>ul{
    display:flex;
    justify-content: space-between;
}
.nav-list-menu{
    padding-right: 700px;
}
li{
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative; 
    letter-spacing: 0.6px;
    padding: 0 3px;

}
a::after{
 content: "";
 position: absolute;
 background-color: white;
 height: 4px;
 width:0;
 left: 0;
 bottom: -15px;
 transition: 0.9s;
}
a:hover{
    color: white;
}
a:hover::after{
    width: 100%;
}
.nav-right>ul{
    display: flex;
    justify-content: center;
    align-items: center;
} 


/* select */

.select{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    height: 100px;
    width: 100%;
    
}
.select-inside{
    display: flex; 
    border: 2px solid #a1a1a1;
    height: 100%;
    align-items: center;
    background-color: rgb(110, 162, 5);
    /* #9cb5eb  */
    border-radius: 10px;
}
.select-places{
    display: flex;
    flex-direction: column;
    padding:25px;
    border-right: 0.5px solid black;

}
.select-days{
    display: flex;
    flex-direction: column;
    padding:25px;
    border-right: 0.5px solid black;
}
.select-date{
    display: flex;
    flex-direction: column;
    padding:25px;
    border-right: 0.5px solid black;
}
select{
    background: none;
    border:0;
    font-weight: bold;
}
label{
    font-weight: bold;
    padding:5px;
     
}
option{
    padding: 10px;
    background-color: rgb(110, 162, 5);
    padding: 3px 8px;
    

}
.search-button{
    padding: 30px;
}
.search-button>button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    background-color:#647E68;
    font-weight: bold;
    font-size: 15px;
}
.fa-search{
    padding-right: 6px;
}














/* @media screen and(max-width:1500) {
    .navbar{

        width: 100%;
        float: 0;
        height: 100px;
    }
    .nav-list-menu{
        width: 100%;
        float: 0;

    }

    .nav-right{
        width: 100%;
        float: 0;
    }
    
} */








 