/* #182747 */
/* #647E68 */
/* #D8D8D8 */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #D8D8D8;
}

/* nav  */
.navbar{
    background:#647E68 ;
    width: 100%;
    /* position: fixed; */
    height: 70px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-list-menu>ul{
    display:flex;
    justify-content: space-between;
}
.nav-list-menu{
    padding-right: 700px;
}
li{
    list-style: none;
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative; 
    letter-spacing: 0.6px;
    padding: 0 3px;

}
a::after{
 content: "";
 position: absolute;
 background-color: white;
 height: 4px;
 width:0;
 left: 0;
 bottom: -15px;
 transition: 0.9s;
}
a:hover{
    color: white;
}
a:hover::after{
    width: 100%;
}
.nav-right>ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa:hover{
    color: white;
}


/* select */

.select{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    height: 100px;
    width: 100%;
    border: 2px solid black;
    
}








 