*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

/* nav  */
.nav-container{
    background:gray;
    width: 100%;
    position: fixed;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    font-size: x-large;
    font-weight: bolder;
    align-items: center;
    color:rgb(255, 255, 255);
}
.nav-menu{
    display: flex;

}
.nav-menu>ul>li{
  
}
a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
li{
    list-style-type: none;
}
.ul-items{
    display: flex;

}
.ul-items>li{
    padding: 20px;
}